body, html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

#root{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.App {
    height: 100%;
    width: 100%;
}

.initiative{
    padding: 0 20px;
    width: auto;
    font-size: 20px;
    text-align: center;
}